$mainSectionPadding: 2rem;

$containerWidth: 80vw;
$containerOutline: 5px solid #000;
$containerBorder: 2px solid #fff;
$containerBorderRadius: 10px;
$containerBackground: #000;

$panelCloseIconSize: 4.5rem;
$panelSubtitlePadding: 1rem;

//from mixins
$titlePadding: 0.75rem;